body {
  font-family: sans-serif;
  margin: 0;
}

.wrapper {
  height: 100vh;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  background-color: #4c8bb0;

  & a {
    text-decoration: none;
  }
}


.flare {
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    height: 100%;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    transform: skew(-40deg) translateX(-30px);
  }

  &:hover:before {
    animation: move-light .8s infinite;
  }

  @keyframes move-light {
    from {
      transform: skew(-40deg) translateX(-30px);
    }
    to {
      transform: skew(-40deg) translateX(150px);
    }
  }
}

.border {
  width: 130px;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  color: white;
  position: relative;

  svg {
    position: absolute;
    left: 0;
    top: 0;

     rect {
      stroke: #122747;
      stroke-width: 2;
      transition: .8s;
      stroke-dasharray: 400, 0;
    }
  }

  &:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 50, 225;
    stroke-dashoffset: 65;
  }
}

.social {
  .social__list {
    list-style: none;
    padding: 0;
    display: flex;

    .social__item {
      width: 50px;
      height: 50px;
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #000000;
      border-radius: 50%;
      font-size: 1.5em;
      transition: color .3s, box-shadow .3s;
      cursor: pointer;

      &.vk:hover {
        box-shadow: 0 0 25px #2b81af;
        color: #2b81af;
      }

      &.instagram:hover {
        box-shadow: 0 0 25px #d075ce;
        color: #d075ce;
      }

      &.facebook:hover {
        box-shadow: 0 0 25px #1f3892;
        color: #1f3892;
      }

      &.google:hover {
        box-shadow: 0 0 25px #c41919;
        color: #c41919;
      }

      &.twitter:hover {
        box-shadow: 0 0 25px #62b4c7;
        color: #62b4c7;
      }
    }
  }
}
